extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block metaDescription
  - const desc = htmlWebpackPlugin.options.desc
  - const url = htmlWebpackPlugin.options.url
  - const image = htmlWebpackPlugin.options.image
  meta(name='description', content=desc)
  meta(property='og:title', content=title)
  meta(property='og:description', content=desc)
  meta(property='og:url', content=url)
  meta(property='og:image', content=image)
  meta(name='twitter:title', content=title)
  meta(name='twitter:description', content=desc)
  meta(name='twitter:card', content='summary_large_image')

block content
  include /components/breadcrumb
  +breadcrumb('About us', 'banner-office-2.png')

  .container.overflow-hidden
    .my-14.text-justify(data-aos='fade-left')
      h3.text-primary.text-2xl.font-bold.mb-5 Who We Are
      .grid.grid-cols-1.gap-10(class='md:grid-cols-3')
        .col-span-1 ASONG INVEST is a multi-disciplinary investment firm focused on impact opportunities dedicated to providing long-term sustainable investment to those impact-generating corporate champions and impact-creating project winners in Vietnam.
        .col-span-1 When mobilizing our capital investment, we will always uphold the four key principles of sustainable development goals (SDGs) and respect the environmental, social, and governance (ESG) frameworks.
        .col-span-1 To be the responsible investor, we will consider our investment actions on the local social, economic, and environmental impacts alongside our financial returns.

      video.mx-auto.mt-8(width='100%', controls, poster='assets/poster-video.png')(class='max-w-[800px]')
        source(src='assets/video.mp4', type='video/mp4')
        Your browser does not support the video tag.

  .bg-gray-100.py-8.overflow-hidden
    .container.text-justify(data-aos='fade-right')
      h3.text-primary.text-2xl.font-bold.mt-8 ABOUT US
      .grid.grid-cols-1.gap-10.mt-5(class='xl:grid-cols-3')
        .col-span-1
          h3.font-bold.text-lg Our Mission & Focus
          br
          div We will primarily focus on making impact investments in controlling or significant minority stakes in the traditional and alternative asset classes, including:
          ul.list-disc.pl-5
            li.font-medium Renewable Energy,
            li.font-medium Sports, Culture & Tourism Infrastructure,
            li.font-medium Equitization of State-Owned Enterprises,
            li.font-medium Real-Estate NPLs.
        .col-span-1
          h3.font-bold.text-lg Our Philosophy
          br
          div Our investment philosophy is anchored on the belief that corporate Vietnam requires more than simple capital. We will be responsible for our investment actions, assisting corporate Vietnam to build globalized visions.
          br
          div We hope to build long-term strategic growth plans and implement these plans into corporate or project actions. And in the process, we will adhere to strict financial disciplines and corporate governance based on our investment principles.
          br
          div Moreover, we wish to build and provide realistic motivations for the management and project leaders and work cordially with all concerned parties, aligning their goals and visions with those of company shareholders & investors.
        .col-span-1
          h3.font-bold.text-lg Our Experienced Team & Business Partners
          br
          div We will work in teams with our business partners looking for the right mix of skills, knowledge, and experience when approaching new potential investments.
          br
          div Our seasoned professional team members will command in-depth knowledge in their respective fields of expertise: investment research, direct investment, project & corporate financing, capital markets, and law.
          br
          div When investing, providing capital is only the beginning of a more complex and committed program for adding value to an enterprise or project.
          br
          div At ASONG, our seasoned professionals will work long-term with the management and project leaders.

  #our-team.container.overflow-hidden
    .my-14
      h3.text-primary.text-2xl.font-bold.text-center OUR TEAM
        .swiper.group(data-aos='zoom-in-up')
          .swiper-wrapper
            - var ourTeam = [{ id: 'young-kyu-lim', image: 'youngkyu-lim.png', title: 'Young Kyu Lim', subTitle:'Chair of the Board',},{ id: 'ser-miang-ng', image: 'ser.png', title: 'Ser Miang Ng', subTitle:'Special Advisor',},{ id: 'sung-seung-hoon-sung', image: 'sung-seung-hoon.png', title: 'Sung Seung Hoon', subTitle:'Managing Partner' },{id: 'byun-jong-jin', image: 'john-byun.png', title: 'Byun Jong-Jin (John)', subTitle:'Managing Partner' },{id: 'kim-so-yeun', image: 'kim-so-yeon.png', title: 'Kim So Yeon', subTitle:'Executive Director' },{  id: 'hoang-le-thuy-duong',image: 'thuy-duong.png', title: 'Hoàng Lê Thùy Dương', subTitle:'Executive Director' },{id:'tran-hong-nhung', image: 'tran-hong-nhung.png', title: 'Trần Hồng Nhung', subTitle:'Director'},]
            each item, index in ourTeam
              .swiper-slide
                include /components/our-team
                +ourTeam(item.title, item.image, item.description, item.id)

          #next-status.right-0.btn-navigation
            i.icon.icon-chevron_right

          #prev-status.left-0.btn-navigation
            i.icon.icon-chevron_left

    #modalShowMemberDetail.modal
      .modal-content.relative
        span#closeModalShowMemberDetail.close.absolute.top-0.right-4 &times;
        .flex.mt-6.items-center.justify-center.border-b-2.pb-4.flex-col.px-4(
          class='md:flex-row md:justify-start'
        )
          img#imageModalTeam.object-cover.c-transition.rounded-full.overflow-hidden(
            class='w-[140px] h-[140px] md:mr-4'
          )
          div
            #titleModalTeam.text-blue-100.text-xl.text-center.mt-4(class='md:text-left md:mt-0')
            #subTitleModalTeam.text-lg.text-primary.font-light.text-center(class='md:text-left')
        #descModalTeam.text-md.text-primary.font-light.mt-4.px-4.whitespace-pre-line.overflow-auto.text-justify(
          class='max-h-[300px] md:max-h-full'
        )
