extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block content
  include /components/breadcrumb
  +breadcrumb('Liên hệ', 'banner02.png')

  .container
    .gap-10.my-14.flex.flex-col-reverse(class='md:grid md:grid-cols-2')
      .col-span-1
        .text-2xl.font-semibold.mb-4.border-l-4.border-pink-100.pl-2 LIÊN HỆ
        iframe(
          src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14897.357258138763!2d105.821264!3d21.019105!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab7a4c8999f1%3A0x5c3f80a2616f3002!2zQ8O0bmcgVHkgVG5oaCBD4buVbmcgVGjDtG5nIFRpbiDEkGnhu4duIFThu60gVHLhu7FjIFR1eeG6v24!5e0!3m2!1svi!2sus!4v1685870671350!5m2!1svi!2sus',
          width='100%',
          height='350',
          style='border: 0',
          allowfullscreen='',
          loading='lazy',
          referrerpolicy='no-referrer-when-downgrade'
        )
      .col-span-1
        .text-xl.font-semibold.mb-4.border-l-4.border-pink-100.pl-2 Công ty TNHH Cổng thông tin Điện tử Trực tuyến
        .flex.items-center.text-primary.mb-3
          i.icon.icon-location_city.icon-lg
          .text-lg.ml-3.font-semibold.text-primary Phòng Chăm sóc khách hàng
        .flex.items-center.mb-3
          i.icon.icon-location_on
          .ml-3 Bộ phận tiếp nhận và giải quyết các câu hỏi liên quan tư vấn dịch vụ, khiếu nại, đề nghị hợp tác…
        .flex.items-center.mb-3
          i.icon.icon-phone
          .ml-3 Điện thoại: 0123456789
        .flex.items-center.mb-3
          i.icon.icon-mail
          .ml-3 Email: example@gmail.com
        .flex.items-center.mb-3
          i.icon.icon-web
          .ml-3 Website công ty: eportal.vn
