extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block content
  include /components/breadcrumb
  +breadcrumb('contact', 'banner-office-2.png')

  .container
    .gap-10.my-14.flex.flex-col-reverse(class='md:grid md:grid-cols-2')
      .col-span-1
        iframe(
          src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0236476544897!2d105.81138947697538!3d21.031739780618405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab2d1e94f373%3A0x16fecba22edb8121!2sCapital%20Place!5e0!3m2!1svi!2s!4v1688566792706!5m2!1svi!2s',
          width='100%',
          height='350',
          style='border: 0',
          allowfullscreen='',
          loading='lazy',
          referrerpolicy='no-referrer-when-downgrade'
        )
      .col-span-1
        h3.text-2xl.font-semibold.mb-4.border-l-4.border-black.pl-2 Asong Invest Co., Ltd
        .flex.items-center.mb-3
          i.icon.icon-location_on
          .ml-3 15F Tower 2, Capital Place, 29 Lieu Giai, Ba Dinh, Hanoi, Vietnam
        .flex.items-center.mb-3
          i.icon.icon-mail
          .ml-3
            |
            |
            a.underline.text-blue-600(href='mailto:office@asonginvest.com') office@asonginvest.com
        .flex.items-center.mb-3
          i.icon.icon-apartment
          .ml-3
            |
            |
            a.underline.text-blue-600(href='https://www.asonginvest.com')(target='_blank') www.asonginvest.com
