extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block content
  include /components/banner
  +banner('We work for', 'Insuring Your Future From Today', 'assets/images/banner01.png')

  .container
    .flex.flex-col-reverse.gap-10.my-14(class='lg:grid lg:grid-cols-2')
      .col-span-1(data-aos='fade-right')
        iframe(
          src='https://www.youtube.com/embed/1MTkZPys7mU',
          frameborder='0',
          style='border: 0',
          allowfullscreen='',
          loading='lazy',
          referrerpolicy='no-referrer-when-downgrade',
          width='100%',
          height='367px'
        )
      .col-span-1(data-aos='fade-left')
        div
          h2.text-2xl.font-bold.text-primary.text-xl ABOUT US
          h3.text-2xl.font-bold.mt-3 We are the largest Business expert in
          .text-3xl.font-bold.my-5 Europe and Asia
          .flex.mt-6
            .mr-5(class='w-[62px]')
              img(src='assets/images/about-01.png')
            .flex-grow.flex-1
              .text-sm.font-bold.mb-1 Extra benefit through Invest
              div From banking and insurance to wealth management and securities distribution, we dedicated financial
          .flex.mt-6
            .mr-5(class='w-[62px]')
              img(src='assets/images/about-01.png')
            .flex-grow.flex-1
              .text-sm.font-bold.mb-1 Extra benefit through Invest
              div From banking and insurance to wealth management and securities distribution, we dedicated financial

    //- style='background-image: url(assets/images/bg-service.png)'
  .bg-cover.bg-center.bg-no-repeat.relative.w-full
    .container.py-24.overflow-hidden
      h2.text-2xl.font-bold.text-center.text-primary SERVICE AREAS
      h3.text-3xl.text-center.font-bold.my-4 Services we serve to you
      .text-center From banking and insurance to wealth management and on securities distribution, we dedicated financial services them the teams serve all major sectors. of the industry.
      .grid.my-14.grid-cols-6(data-aos='zoom-out')
        - var serviceList = [{ image: 'service01.png', title: 'Retirement Planning' },{ image: 'service02.png', title: 'Home and Business Loan' },{ image: 'service03.png', title: 'Business Consultation' },{ image: 'service04.png', title: 'Saving and Strategy' },{ image: 'service05.png', title: 'Life & Health Insurance' },{ image: 'service06.png', title: 'Banking and Financial' }]
        each item, index in serviceList
          .col-span-3.border-l.group(class='first:border-0 md:col-span-2 lg:col-span-1')(
            class=index === 3 && 'md:border-0 lg:border-l'
          )(
            class=index % 2 === 0 && 'border-l-0 md:border-l'
          )
            .flex.flex-col.items-center.cursor-pointer.py-8.px-4.h-full.c-transition(
              class='hover:-translate-y-3'
            )
              img(src=`assets/images/${item.image}`, width='62px')
              .text-center.mt-4.text-blue-100= item.title

  .bg-cover.bg-center.bg-no-repeat.relative.w-full(
    style='background-image: url(assets/images/bg-completed-project.png)',
    class='md:h-[600px]'
  )
    .container.py-4
      h2.text-2xl.font-bold.text-center.text-primary(class='md:pt-48') OUR CASES
      h3.text-3xl.text-center.font-bold.mt-4.mb-14 Completed Projects
      .relative
        section.grid.grid-cols-1.gap-5.left-0.right-0.z-10.mx-auto(
          class='md:grid-cols-2 md:gap-10 md:absolute lg:w-3/5'
        )(
          data-aos='fade-right'
        )
          - var articleType2List = [{ title:'Asong Invest, Noble, PVCB Capital sign deal for renewable energy fund', link:'asong-invest-noble-pvcb-capital-sign-deal-for-renewable-energy-fund.html', desc: 'Asong Invest, Noble Vietnam, and PVCB Capital signed a memorandum of understanding on June 23 to cooperate in establishing the PV-Asong Green Growth Investment Fund.', image: 'assets/images/news/news-1.1.png', date: '26/06/2023'},{ title:'Asong Invest, Noble và PVCB Capital ký kết MOU về Quỹ năng lượng tái tạo', link:'asong-invest-noble-va-pvcb-capital-ky-ket-mou-ve-quy-nang-luong-tai-tao.html', desc: 'Ngày 23/6/2023, tại Hà Nội, công ty TNHH Asong Invest (viết tắt là Asong Invest), công ty TNHH Noble (Việt Nam) (viết tắt là Noble) và công ty Cổ phần Quản lý Quỹ Ngân hàng TMCP Đại chúng Việt Nam (viết tắt là PVCB Capital) đã ký kết biên bản ghi nhớ về hợp tác chung trong việc thành lập "Quỹ đầu tư tăng trưởng xanh PV-Asong".', image: 'assets/images/news/news-1.2.png', date: '23/06/2023'}]
          each item in articleType2List
            include /components/article-type2
            +articleType2(item.title, item.image, item.desc, false, item.link)

  .bg-contain.bg-center.bg-no-repeat.relative.w-full(
    style='background-image: url(assets/images/map-earth.png)',
    class='h-[400px] md:h-[1000px]'
  )
    .container.py-4
      h2.text-2xl.font-bold.text-center.text-primary(class='md:pt-48') TRUST US
      h3.text-3xl.text-center.font-bold.mt-4.mb-14 Entire World Trust us

  .bg-cover.bg-center.bg-no-repeat.relative.w-full.overflow-hidden(
    style='background-image: url(assets/images/bg-statistical.png)'
  )
    .container.py-9(data-aos='fade-left')
      .grid.grid-cols-4
        - var serviceList = [{ image: 'statistical01.png', title: '450+ Projects', subTitle:'Completed' },{ image: 'statistical02.png', title: '560+ Trusted',subTitle: 'Client’s' },{ image: 'statistical03.png', title: '100% Client',subTitle: 'Satisfaction'},{ image: 'statistical04.png', title: '3 Billion USD',subTitle: 'Profit' }]
        each item, index in serviceList
          .col-span-2.group(class='first:border-0 md:col-span-1')
            .flex.flex-col.items-center.cursor-pointer.py-8.px-4.h-full.transition.ease-in-out(
              class='hover:-translate-y-3'
            )
              img(src=`assets/images/${item.image}`, width='62px')
              .text-center.mt-4.text-blue-100.text-xl.font-bold(class='group-hover:font-bold')= item.title
              .text-center.text-xl.font-bold.text-primary(class='group-hover:font-bold')= item.subTitle

  .bg-gray-200
    .container.py-12(data-aos='fade-right')
      h2.text-2xl.font-bold.text-center.text-primary WE ARE HERE FOR
      h3.text-3xl.text-center.font-bold.mt-4.mb-14 News
      .relative
        section.grid.grid-cols-1.gap-5(class='lg:grid-cols-3 md:gap-10')
          - var articleType2List = [{ title:'International Sports Strategy Foundation, Vietnam Olympic Committee collaborate in training', link:'international-sports-strategy-foundation-vietnam-olympic-committee-collaborate-in-training.html', desc: 'The International Sports Strategy Foundation (ISF) will open an office in Vietnam, with assistance from Gemopia Investment Group, to boost sport training with Vietnam Olympic Committee.', image: 'assets/images/news/news-3.1.png', date: '09/12/2022'},{ title:'Vietnamese athletes to get $1M bonus for Olympic gold medal', link:'vietnamese-athletes-to-get-1m-bonus-for-olympic-gold-medal.html', desc: 'ny Vietnamese athlete winning a gold medal at the 2024 Olympic Games in France will get a bonus of $1 million.', image: 'assets/images/news/news-4.1.png', date: '02/02/2023'},{ title:'Nemo Partners introduces Korean spiritual gastronomy featuring revered chef Jeong Kwan', link:'nemo-partners-introduces-korean-spiritual-gastronomy-featuring-revered-chef-jeong-kwan.html', desc: 'Culinary guide So Yeon Kim, Director at Nemo Partners, introduced the third year of Korean Gastronomy Week in Hanoi, in collaboration with the "Philosopher Chef" Jeong Kwan.', image: 'assets/images/news/news-5.1.png', date: '29/10/2022'}]
          each item in articleType2List
            include /components/article-type2
            +articleType2(item.title, item.image, item.desc, true, item.link, item.date)

  .bg-cover.bg-center.bg-no-repeat.relative.w-full(
    style='background-image: url(assets/images/bg-statistical.png)'
  )
    .container.py-9.overflow-hidden
      h3.text-3xl.text-center.font-bold.mt-4.mb-144 Business Partners
      .flex.flex-row.justify-center(data-aos='zoom-out')
        - var serviceList = [{ image: 'partner01.png', title: 'PVCB Capital'},{ image: 'partner02.png', title: 'PVComBank' },{ image: 'partner03.png', title: 'BD Law'},]
        each item, index in serviceList
          .flex.flex-col.items-center.cursor-pointer.p-4.h-full(class='md:p-8')
            div(class='max-w-[160px] max-h-[160px]')
              img.object-cover(src=`assets/images/${item.image}`)
