extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block metaDescription
  - const desc = htmlWebpackPlugin.options.desc
  - const url = htmlWebpackPlugin.options.url
  - const image = htmlWebpackPlugin.options.image
  meta(name='description', content=desc)
  meta(property='og:title', content=title)
  meta(property='og:description', content=desc)
  meta(property='og:url', content=url)
  meta(property='og:image', content=image)
  meta(name='twitter:title', content=title)
  meta(name='twitter:description', content=desc)
  meta(name='twitter:card', content='summary_large_image')

block content
  include /components/banner
  +banner('ASONG INVEST,', 'We invest in the future of Vietnam', 'assets/images/banner01.png')

  .container
    .flex.flex-col-reverse.gap-10.my-14(class='lg:grid lg:grid-cols-2')
      .col-span-1(data-aos='fade-right')
        video(width='100%', controls, poster='assets/poster-video.png')
          source(src='assets/video.mp4', type='video/mp4')
          Your browser does not support the video tag.
      .col-span-1(data-aos='fade-left')
        .text-justify
          h2.text-2xl.font-bold.text-primary.text-xl ABOUT US
          h3.text-lg.font-bold.mt-3 ASONG INVEST is a multi-disciplinary investment firm focused on impact opportunities dedicated to providing long-term sustainable investment to those impact-generating corporate champions and impact-creating project winners in Vietnam.

    //- style='background-image: url(assets/images/bg-service.png)'
  .bg-cover.bg-center.bg-no-repeat.relative.w-full
    .container.py-24.overflow-hidden
      h2.text-3xl.text-center.font-bold.my-4 Our Primary Focus
      .text-center We will primarily focus on making impact investments in controlling or significant minority stakes in the traditional and alternative asset classes, including:
      .grid.my-14.grid-cols-4(data-aos='zoom-out')
        - var serviceList = [{ image: 'service01.png', title: 'Renewable Energy' },{ image: 'service02.png', title: 'Culture, Sports & Tourism Infrastructure' },{ image: 'service03.png', title: 'Equitization of State-Owned Enterprises' },{ image: 'service04.png', title: 'Real-Estate NPLs' }]
        each item, index in serviceList
          .col-span-4.group(class='first:border-0 md:border-l md:col-span-2 lg:col-span-1')(
            class=`${index === 2 && 'md:border-l-0 lg:border-l'}`
          )
            .flex.flex-col.items-center.cursor-pointer.py-8.px-4.h-full.c-transition(
              class='hover:-translate-y-3'
            )
              img(src=`assets/images/${item.image}`, width='62px', alt='primary-focus')
              .text-center.mt-4.text-blue-100= item.title

  #investment-solution.bg-cover.bg-center.bg-no-repeat.relative.w-full(
    style='background-image: url(assets/images/bg-completed-project.png)',
    class='md:h-[600px]'
  )
    .container.pt-9.pb-24.overflow-hidden
      h2.text-3xl.text-center.font-bold.mt-4.mb-14 Our Investment Solution
      .swiper.mt-8.px-8(data-aos='zoom-out')
        .swiper-wrapper
          - var articleType2List = [{ title: 'Asong Invest, Noble, PVCB Capital sign deal for renewable energy fund', link: 'gallery1.html', desc: 'Asong Invest, Noble Vietnam, and PVCB Capital signed a memorandum of understanding on June 23 to cooperate in establishing the PV-Asong Green Growth Investment Fund.', image: 'assets/images/news/news-1.1.png', date: '26/06/2023' },{ title: 'Asong Invest, Noble, PVCB Capital sign deal for renewable energy fund', link: 'gallery1.html', desc: 'Asong Invest, Noble Vietnam, and PVCB Capital signed a memorandum of understanding on June 23 to cooperate in establishing the PV-Asong Green Growth Investment Fund.', image: 'assets/images/news/news-1.1.png', date: '26/06/2023' },{ title: 'Asong Invest, Noble, PVCB Capital sign deal for renewable energy fund', link: 'gallery1.html', desc: 'Asong Invest, Noble Vietnam, and PVCB Capital signed a memorandum of understanding on June 23 to cooperate in establishing the PV-Asong Green Growth Investment Fund.', image: 'assets/images/news/news-1.1.png', date: '26/06/2023' },{ title: 'Asong Invest, Noble, PVCB Capital sign deal for renewable energy fund', link: 'gallery1.html', desc: 'Asong Invest, Noble Vietnam, and PVCB Capital signed a memorandum of understanding on June 23 to cooperate in establishing the PV-Asong Green Growth Investment Fund.', image: 'assets/images/news/news-1.1.png', date: '26/06/2023' },{ title: 'Asong Invest, Noble, PVCB Capital sign deal for renewable energy fund', link: 'gallery1.html', desc: 'Asong Invest, Noble Vietnam, and PVCB Capital signed a memorandum of understanding on June 23 to cooperate in establishing the PV-Asong Green Growth Investment Fund.', image: 'assets/images/news/news-1.1.png', date: '26/06/2023' },{ title: 'Asong Invest, Noble, PVCB Capital sign deal for renewable energy fund', link: 'gallery1.html', desc: 'Asong Invest, Noble Vietnam, and PVCB Capital signed a memorandum of understanding on June 23 to cooperate in establishing the PV-Asong Green Growth Investment Fund.', image: 'assets/images/news/news-1.1.png', date: '26/06/2023' },{ title: 'Asong Invest, Noble, PVCB Capital sign deal for renewable energy fund', link: 'gallery1.html', desc: 'Asong Invest, Noble Vietnam, and PVCB Capital signed a memorandum of understanding on June 23 to cooperate in establishing the PV-Asong Green Growth Investment Fund.', image: 'assets/images/news/news-1.1.png', date: '26/06/2023' },{ title: 'Asong Invest, Noble, PVCB Capital sign deal for renewable energy fund', link: 'gallery1.html', desc: 'Asong Invest, Noble Vietnam, and PVCB Capital signed a memorandum of understanding on June 23 to cooperate in establishing the PV-Asong Green Growth Investment Fund.', image: 'assets/images/news/news-1.1.png', date: '26/06/2023' }]
          each item in articleType2List
            include /components/article-type2
            .swiper-slide
              +articleType2(item.title, item.image, item.desc, false, item.link)

        #next-status-solution.right-0.btn-navigation
          i.icon.icon-chevron_right

        #prev-status-solution.left-0.btn-navigation
          i.icon.icon-chevron_left

  .bg-gray-200
    .container.py-12(data-aos='fade-right')
      h2.text-3xl.text-center.font-bold.mt-4.mb-14 Our Latest News
      .relative
        section.grid.grid-cols-1.gap-5(class='lg:grid-cols-3 md:gap-10')
          - var articleType2List = [{ title:'PV Power, Asong Invest, and PVCB Capital sign MoU on green industry', link:'/news/pv-power-asong-invest-and-pvcb-capital-sign-mou-on-green-industry.html', desc: 'On August 25 in Hanoi, PetroVietnam Power Corporation (PV Power), along with Asong Invest and PVCB Capital, signed an MoU signing to co-invest and collaborate on green industry in Vietnam.', image: 'assets/images/news/news-7.png', date: '29/08/2023'},{ title:'Asong Invest, Noble, PVCB Capital sign deal for renewable energy fund', link:'/news/asong-invest-noble-pvcb-capital-sign-deal-for-renewable-energy-fund.html', desc: 'Asong Invest, Noble Vietnam, and PVCB Capital signed a memorandum of understanding on June 23 to cooperate in establishing the PV-Asong Green Growth Investment Fund.', image: 'assets/images/news/news-1.1.png', date: '26/06/2023'},{ title:'Asong Invest, Noble và PVCB Capital ký kết MOU về Quỹ năng lượng tái tạo', link:'/news/asong-invest-noble-va-pvcb-capital-ky-ket-mou-ve-quy-nang-luong-tai-tao.html', desc: 'Ngày 23/6/2023, tại Hà Nội, công ty TNHH Asong Invest (viết tắt là Asong Invest), công ty TNHH Noble (Việt Nam) (viết tắt là Noble) và công ty Cổ phần Quản lý Quỹ Ngân hàng TMCP Đại chúng Việt Nam (viết tắt là PVCB Capital) đã ký kết biên bản ghi nhớ về hợp tác chung trong việc thành lập "Quỹ đầu tư tăng trưởng xanh PV-Asong".', image: 'assets/images/news/news-1.2.png', date: '23/06/2023'}]
          each item in articleType2List
            include /components/article-type2
            +articleType2(item.title, item.image, item.desc, true, item.link, item.date)

  #business-partners.bg-cover.bg-center.bg-no-repeat.relative.w-full
    .container.pt-9.pb-24.overflow-hidden
      h2.text-3xl.text-center.font-bold.mt-4.mb-144 Our Business Partners
        .swiper.group.mt-8.px-8(data-aos='zoom-out')
          .swiper-wrapper
            - var serviceList = [{ image: 'partner01.png' }, { image: 'partner02.png' }, { image: 'partner03.png' }, { image: 'partner06.png' }, { image: 'partner04.png' }, { image: 'partner05.png' }, { image: 'partner07.png' }, { image: 'partner08.png' }, { image: 'partner09.png' }]
            each item, index in serviceList
              .swiper-slide
                img.object-cover.mx-auto(src=`assets/images/${item.image}`, alt='partner')(class='h-[90px]')

          #next-status.right-0.btn-navigation
            i.icon.icon-chevron_right

          #prev-status.left-0.btn-navigation
            i.icon.icon-chevron_left
