extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block metaDescription
  - const desc = htmlWebpackPlugin.options.desc
  - const url = htmlWebpackPlugin.options.url
  - const image = htmlWebpackPlugin.options.image
  meta(name='description', content=desc)
  meta(property='og:title', content=title)
  meta(property='og:description', content=desc)
  meta(property='og:url', content=url)
  meta(property='og:image', content=image)
  meta(name='twitter:title', content=title)
  meta(name='twitter:description', content=desc)
  meta(name='twitter:card', content='summary_large_image')

block content
  include /components/breadcrumb
  +breadcrumb('news', 'banner-office-3.png')

  .container
    .my-14.text-justify
      h3.text-2xl.font-semibold International Sports Strategy Foundation, Vietnam Olympic Committee collaborate in training
      span.flex.items-center.mt-3
        i.icon.icon-calendar_today.mr-3
        span 09/12/2022

      p.my-5 The International Sports Strategy Foundation (ISF) will open an office in Vietnam, with assistance from Gemopia Investment Group, to boost sport training with Vietnam Olympic Committee.

      p.mb-5 Nguyen Van Hung, Minister of Culture, Sports and Tourism and Chairman of the Vietnam Olympic Committee, and YoungKyu Lim, Vice Chairman of the Board of Directors of International Sports Strategy, signed the MoU on cooperation and sports training on December 6.

      .mx-auto(class='md:w-3/4')
        img.object-cover.c-transition.w-full(
          src='assets/images/news/news-3.1.png',
          alt='Nguyen Van Hung (R), Minister of Culture, Sports and Tourism, Chairman of the Vietnamese Olympic Committee Nam, and YoungKyu Lim, Vice Chairman of the Board of Directors of International Sports Strategy, sign the MoU on sports training cooperation. Photo by ISF'
        )
        p.mb-5.bg-gray-100.p-2 Nguyen Van Hung (R), Minister of Culture, Sports and Tourism, Chairman of the Vietnamese Olympic Committee Nam, and YoungKyu Lim, Vice Chairman of the Board of Directors of International Sports Strategy, sign the MoU on sports training cooperation. Photo by ISF

      p.mb-5 Both parties agreed to cooperate to strengthen sports diplomatic and administrative exchanges; promote training and visits of sports officials, professionals and personnel in the areas of sports education, sports management, and sports infrastructure development.

      p.mb-5 ISF will establish an office in Vietnam, supported by Gemopia Investment Group to execute all the agreements stated in the MOU.

      .mx-auto(class='md:w-3/4')
        img.object-cover.c-transition.w-full(
          src='assets/images/news/news-3.2.png',
          alt='Tran Quang Vinh (PV Capital) and Sung Seung Hoon (Asong Invest) at the MoU. Photo courtesy of Asong.'
        )
        p.mb-5.bg-gray-100.p-2 Youngkyu Lim, Head of Gemopia Investment (R). Photo by ISF

      p.mb-5 The International Sports Strategy Foundation (ISF) is a non-profit foundation in Korea whose mission is to promote sports cooperation between countries and to create, spread, and practice the knowledge of international sport cooperation.

      .text-xl.font-semibold.pb-4.border-b-2 Other News
      section.grid.grid-cols-1.gap-5.my-8(class='md:grid-cols-2 lg:grid-cols-3 md:gap-10')
        - var articleType2List = [{ title:'Vietnamese athletes to get $1M bonus for Olympic gold medal', link:'/news/vietnamese-athletes-to-get-1m-bonus-for-olympic-gold-medal.html', desc: 'Any Vietnamese athlete winning a gold medal at the 2024 Olympic Games in France will get a bonus of $1 million.', image: 'assets/images/news/news-4.1.png', date: '02/02/2023'},{ title:"Nemo-PVcom Merit Fund eyes int'l investors", link:'/news/nemo-pvcom-merit-fund-eyes-int-l-investors.html', desc: 'Nemo-PVcom Merit Fund (NPMF) has completed its initial round of funding, aiming to up figures in 2022 and 2023 via global investors.', image: 'assets/images/news/news-6.1.png', date: '23/02/2022'}]
        each item in articleType2List
          include /components/article-type2
          +articleType2(item.title, item.image, item.desc, true, item.link, item.date)
