extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block content
  include /components/breadcrumb
  +breadcrumb('news', 'banner02.png')

  .container
    .my-14
      h3.text-2xl.font-semibold Nemo Partners introduces Korean spiritual gastronomy featuring revered chef Jeong Kwan
      span.flex.items-center.mt-3
        i.icon.icon-calendar_today.mr-3
        span 29/10/2022

      p.my-5 Culinary guide So Yeon Kim, Director at Nemo Partners, introduced the third year of Korean Gastronomy Week in Hanoi, in collaboration with the "Philosopher Chef" Jeong Kwan.

      p.mb-5 Nemo Partners have introduced the third year of Korean Gastronomy Week, inviting all food lovers in Hanoi.

      p.mb-5 This special Korean culinary event is a unique opportunity to taste exquisite Korean temple cuisine created by Jeong Kwan - the Seon-Buddhist monk, the most influential vegan chef with the Asia’s 50 Best Restaurants prestigious Icon Award and Netflix star in the award winning Chef’s Table series, wowing the world with self-effacing vegan food and her philosophy of mindfulness and sustainable food culture.

      .mx-auto(class='md:w-3/4')
        img.object-cover.c-transition.w-full(
          src='assets/images/news/news-5.1.png',
          alt='Jeong Kwan (R), the philosopher chef. Photo by Nemo Partners'
        )
        p.mb-5.bg-gray-100.p-2 Jeong Kwan (R), the philosopher chef. Photo by Nemo Partners

      p.mb-5 The dishes on Jeong Kwan’s special menu follows the tradition of Korean temple cuisine culture with the new modern take by Jeong Kwan, using premium Korean ingredients.

      p.mb-5 These include black sesame jook with tomato jangajji (black sesame porridge, confit & pickled tomatoes), tofu stuffed paprika & shiitake mushroom umami jorim (tofu stuffed & gently steamed in paprika, shiitake mushroom braised in Korean traditional rice syrup), farmer’s Jang Ddeok & persimmon muchim (Korean traditional pancake with gochujang (chili paste) and doenjang (soybean paste), and sun-dried persimmon tossed in tangy and sweet dressing).

      p.mb-5 These include black sesame jook with tomato jangajji (black sesame porridge, confit & pickled tomatoes), tofu stuffed paprika & shiitake mushroom umami jorim (tofu stuffed & gently steamed in paprika, shiitake mushroom braised in Korean traditional rice syrup), farmer’s Jang Ddeok & persimmon muchim (Korean traditional pancake with gochujang (chili paste) and doenjang (soybean paste), sun-dried persimmon tossed in tangy and sweet dressing), namul bibimbap & root vegetables and morel mushroom tangsui (bibimbap with millet rice and three kinds of mountain herbs, pakpakjang (Jeong Kwan’s special sauce), sweet & sour root vegetables and morel mushroom) and shine muscat confit in refined tomato syrup with seaweed bugak & potato bugak (shine muscat confit, sweet tomoto dip, Korean traditional crisps made with seaweed and potatoes).

      .mx-auto(class='md:w-3/4')
        img.object-cover.c-transition.w-full(
          src='assets/images/news/news-5.2.png',
          alt='Tofu stuffed paprika and shiitake mushroom umami jorim. Photo by Nemo Partners'
        )
        p.mb-5.bg-gray-100.p-2 Tofu stuffed paprika and shiitake mushroom umami jorim. Photo by Nemo Partners

      p.mb-5 "When I think of making food, I empty myself first. Understand the nature of the ingredient, I share my mind with its nature," said Jeong Kwan.

      p.mb-5 Jeong Kwan has never worked in a restaurant, let alone had any official culinary training. Her profound food philosophy works in service of the body, the mind and the planet, and an advocate of the under-the-radar wonders of Korean temple cuisine - a holistic process that continues as the food is cooked and then consumed.

      p.mb-5 When Eric Ripert, the gastronomy prophet, visited Baekyangsa, the seventh-century temple in Naejangsan National Park that Jeong Kwan calls home, the culinary inspiration led to naming her "the philosopher chef," with Jeong Kwan's cuisine hailed as "the most exquisite food in the world."

      p.mb-5 So Yeon Kim, director of Nemo Partners and the Culinary Guide of Korean Gastronomy Week, expects the event to be a continuation of a great platform in bridging the cultural exchanges between Vietnam and Korea, showcasing exceptional taste of Korea and inviting Hanoians to further experience elevated dining culture from Korea for three consecutive years.

      p.mb-5 Korean Gastronomy Week 2022 is hosted by the Ministry of Agriculture, Korea Forest Service, and Korea Agro-Fisheries and Food Trade Corporation, with organization by Nemo Partners.

      p.mb-5 Nemo Partners is the one of the largest investment and advisory firms in Korea, driving business opportunities between Korea and Vietnam. Korean Gastronomy Week Hanoi is an annual event organized by Nemo Partners to introduce elevated Korean culinary culture to Vietnam.

      .text-xl.font-semibold.pb-4.border-b-2 Other News
      section.grid.grid-cols-1.gap-5.my-8(class='md:grid-cols-2 lg:grid-cols-3 md:gap-10')
        - var articleType2List = [{ title:'Vietnamese athletes to get $1M bonus for Olympic gold medal', link:'/news/vietnamese-athletes-to-get-1m-bonus-for-olympic-gold-medal.html', desc: 'ny Vietnamese athlete winning a gold medal at the 2024 Olympic Games in France will get a bonus of $1 million.', image: 'assets/images/news/news-4.1.png', date: '02/02/2023'},{ title:'International Sports Strategy Foundation, Vietnam Olympic Committee collaborate in training', link:'/news/international-sports-strategy-foundation-vietnam-olympic-committee-collaborate-in-training.html', desc: 'The International Sports Strategy Foundation (ISF) will open an office in Vietnam, with assistance from Gemopia Investment Group, to boost sport training with Vietnam Olympic Committee.', image: 'assets/images/news/news-3.1.png', date: '09/12/2022'},{ title:'Quỹ đầu tư giá trị Nemo - PVcom hoàn thành vòng gọi vốn ban đầu', link:'/news/quy-dau-tu-gia-tri-nemo-pvcom-hoan-thanh-vong-goi-von-ban-dau.html', desc: 'Quỹ đầu tư giá trị Nemo - PVcom Merit Fund (NPMF) đã chính thức hoàn thành vòng gọi vốn ban đầu, đồng thời đặt mục tiêu huy động nguồn vốn lên tới 20 – 50 triệu USD từ các Nhà đầu tư Quốc tế trong năm 2022 và 2023.', image: 'assets/images/news/news-6.1.png', date: '22/02/2022'}]
        each item in articleType2List
          include /components/article-type2
          +articleType2(item.title, item.image, item.desc, true, item.link, item.date)
