mixin articleType2(title, image ,desc, isNews, link, date)
  article.c-transition.group.bg-white.border.overflow-hidden(
    class='hover:bg-gray-200 hover:shadow-lg rounded-[10px]'
  )
    a(href=link)
      .overflow-hidden
        img.object-cover.c-transition.w-full.h-full.aspect-video(
          src=image,
          class='group-hover:scale-110',
          alt='article'
        )

      .p-4.pt-2(class='lg:p-5')
        h3.font-bold.text-lg.c-transition.line-clamp-2.text-justify(class='hover:text-primary')= title
        .text-sm.my-4.line-clamp-2.text-justify= desc
        div
          if (isNews)
            .flex.items-center.text-primary
              i.icon.icon-calendar_today
              span.ml-2= date
