header.shadow-md.sticky.top-0.bg-white.z-20
  .container.px-4.mx-auto.flex.justify-between.items-center.py-2
    a(href='/') 
      img.object-cover.pl-2(src='assets/logo.jpg', alt='logo', class='w-[60px] md:pl-0 md:w-[120px]')
    i#nav-btn.icon.icon-menu.icon-32.cursor-pointer.px-5.block(class='md:hidden')
    nav.hidden(class='md:flex')
      .mx-7
        a.nav-item-header.text-xl.uppercase.pb-2.border-b-2.border-white(
          href='/',
          class='hover:border-primary'
        ) home
      .mx-7
        a.nav-item-header.text-xl.uppercase.pb-2.border-b-2.border-white(
          href='/about-us.html',
          class='hover:border-primary'
        ) about us
      .mx-7
        a.nav-item-header.text-xl.uppercase.pb-2.border-b-2.border-white(
          href='/news.html',
          class='hover:border-primary'
        ) news
      .mx-7
        a.nav-item-header.text-xl.uppercase.pb-2.border-b-2.border-white(
          href='/contact.html',
          class='hover:border-primary'
        ) contact

nav#nav-sp.fixed.top-0.bottom-0.transition-all.bg-white.z-50.p-5(class='-left-[300px] w-[300px] md:hidden')
  .flex.justify-end.mb-4
    i#nav-close-btn.icon.icon-close.icon-32.cursor-pointer
  .flex-col.flex.relative
    .mb-3
      a.nav-item-header.text-xl.uppercase.pb-2.border-b-2.border-white(
        href='/',
        class='hover:border-primary'
      ) home
    .mb-3
      a.nav-item-header.text-xl.uppercase.pb-2.border-b-2.border-white(
        href='/about-us.html',
        class='hover:border-primary'
      ) about us
    .mb-3
      a.nav-item-header.text-xl.uppercase.pb-2.border-b-2.border-white(
        href='/news.html',
        class='hover:border-primary'
      ) news
    .mb-3
      a.nav-item-header.text-xl.uppercase.pb-2.border-b-2.border-white(
        href='/contact.html',
        class='hover:border-primary'
      ) contact
#backdrop.z-10.hidden.top-0.bottom-0.left-0.right-0(class='bg-black/50')
