header.shadow-md.sticky.top-0.bg-white.z-20
  .container.px-4.mx-auto.flex.justify-between.items-center.py-2
    a.my-4(href='/')
      img.object-cover.pl-2(src='assets/logo.jpg', alt='logo', class='w-[60px] md:pl-0')
    i#nav-btn.icon.icon-menu.icon-32.cursor-pointer.px-5.block(class='md:hidden')
    nav.hidden(class='md:flex')
      .mx-7
        span.nav-item-header.transition-header.pb-3.border-b-2.border-white(
          class='hover:border-primary hover:pb-1'
        )
          a.text-xl.uppercase(href='/') home
      .mx-7
        span.nav-item-header.transition-header.pb-3.border-b-2.border-white(
          class='hover:border-primary hover:pb-1'
        )
          a.text-xl.uppercase(href='/about-us.html') about us
      .mx-7
        span.nav-item-header.transition-header.pb-3.border-b-2.border-white(
          class='hover:border-primary hover:pb-1'
        )
          a.text-xl.uppercase(href='/news.html') news
      .mx-7
        span.nav-item-header.transition-header.pb-3.border-b-2.border-white(
          class='hover:border-primary hover:pb-1'
        )
          a.text-xl.uppercase(href='/contact.html') contact

nav#nav-sp.fixed.top-0.bottom-0.transition-all.bg-white.z-50.p-5(class='-left-[300px] w-[300px] md:hidden')
  .flex.justify-end.mb-4
    i#nav-close-btn.icon.icon-close.icon-32.cursor-pointer
  .flex-col.flex.relative
    .mb-3
      span.nav-item-header.transition-header.pb-3.border-b-2.border-white(
        class='hover:border-primary hover:pb-1'
      )
        a.text-xl.uppercase(href='/') home
    .mb-3
      span.nav-item-header.transition-header.pb-3.border-b-2.border-white(
        class='hover:border-primary hover:pb-1'
      )
        a.text-xl.uppercase(href='/about-us.html') about us
    .mb-3
      span.nav-item-header.transition-header.pb-3.border-b-2.border-white(
        class='hover:border-primary hover:pb-1'
      )
        a.text-xl.uppercase(href='/news.html') news
    .mb-3
      span.nav-item-header.transition-header.pb-3.border-b-2.border-white(
        class='hover:border-primary hover:pb-1'
      )
        a.text-xl.uppercase(href='/contact.html') contact
#backdrop.z-10.hidden.top-0.bottom-0.left-0.right-0(class='bg-black/50')
